@model netcore_vue.Models.MenuViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/basket.css" rel="stylesheet" asp-append-version="true" />
}

<div class="l-container">
    <div class="l-content g g--stack--narrow g--gutter">
        <div class="g-col g-span6">
            <div
                data-menu
                asp-prerender-module="Assets/js/server.renderMenu"
                asp-prerender-data="Model"></div>
        </div>

        <div class="g-col g-span6">
            <div class="c-basket">
                <p class="c-basket-heading">Your order</p>

                <div
                    data-basket
                    asp-prerender-module="Assets/js/server.renderBasket"
                    asp-prerender-data="Model"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/bundle.client.js" asp-append-version="true"></script>
}
